<footer class="site-footer">
	<ul class="Container-Large">
		<li class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} | <a class="icon-feed" href="{{@blog.url}}/rss/"> Subscribe</a></li>
		<li class="poweredby">Published proudly with <a href="https://ghost.org">Ghost</a></li>
	</ul>
	{{ghost_foot}}
</footer>
